reading
lab_files
meshwork/test_data
deconvolution_beads/beads_files
deconvolution_beads/beads_detected
meshwork/steerable_gaussian/matlab_files
meshwork/steerable_gaussian/reading
meshwork/steerable_gaussian/test*
process_data/deconv_data
process_data/sample_data